!!!
  %html
    %head
      %link{:rel => "stylesheet" :type => "text/css" :href => "application.css"}
      %script{:type => "text/javascript" :src => "application.js"}
    %body{:style => "margin:0px;"}
      %p 把鼠标悬停在下面的矩形上可以看到坐标：
      %div#coordiv{:style => "float:left;width:199px;height:99px;border:1px solid#c3c3c3" :onmousemove => "cnvs_getCoordinates(event)" :onmouseout => "cnvs_clearCoordinates()"}
      %br
      %br
      %br
      %div#xycoordinates
